node_modules
.idea
.env
dist/

/examples/config.js
/examples/local.config.json
/examples/prod.config.json
/proxy-server/.env
/proxy-server/public/web.js
/proxy-server/config/prod.config.json
/proxy-server/config/local.config.json
/proxy-server/config/config.json
/proxy-server/client-bot/web.js